<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:yueyinqiu5990@qq.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/yueyinqiu"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="QQ" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2859040107&site=qq&menu=yes"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
